// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
// $light-gray: #F4F4F4;

// https://colorhunt.co/palette/165518
$dark-gray: #464159;
$light-gray: #6c7b95;
$dark-green: #8bbabb;
$light-green: #c7f0db;
