.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner {
  background-size: cover;
  background-position: center;
  padding-left: 120px;
  padding-top: 80px;
}

.banner h1 {
  margin: 0;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 128px;
  font-family: 'Roboto';
  line-height: 100px;
}

.banner p {
  font-size: 42px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto';
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-top: 130px;
  padding-right: 120px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category p {
  background-color: rgba(255,255,255,0.2);
  height: 180px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  opacity: .9;
}
