.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner {
  background-size: cover;
  background-position: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
}

.banner h1 {
  margin: 0;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 128px;
  font-family: 'Roboto';
  line-height: 100px;
}

.banner p {
  font-size: 42px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto';
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-top: 125px;
  // padding-right: 120px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .banner {
    padding-left: 40px;
    padding-top: 30px;
  }
  .banner h1 {
    font-size: 60px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  // .cards {
  //   grid-template-columns: 1fr;
  // }
  .banner {
    padding-left: 50px;
    padding-top: 40px;
  }
  .banner h1 {
    font-size: 90px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // .cards {
  //   grid-template-columns: 1fr 1fr;
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-color: rgba(255,255,255,0.7) !important;
  border-radius: 5px;
}

.card-category p {
  height: 180px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-gray;
  font-size: 21px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  opacity: 1;
  text-shadow: none;
  font-weight: bold;
}
