.dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  // grid-gap: 10px;
  width: 100vw;
  height: calc(100vh - 95px);
}

.dashboard-video {
  // background-color: red;
  grid-column: 1 / 5;
  grid-row: 1 / 4;
}

.dashboard-remote-control {
  // background-color: purple;
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  margin: 20px;
  z-index: 2;
}
  
.dashboard-reviews {
  // background-color: blue;
  grid-column: 1 / 4;
  grid-row: 4 / 6;
}
  
.dashboard-comments {
  // background-color: green;
  grid-column: 5 / 6;
  grid-row: 1 / 6;
}
  
.dashboard-thumbnails {
  // background-color: pink;
  grid-column: 6 / 7;
  grid-row: 1 / 6;
}
