.video-player {
  width: 800px;
  height: 400px;
}

.test-box {
  width: 200px;
  height: 150px;
  margin: 20px;
  background-color: blue;
}

.thumbnails-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 20px;
}
