<div class="container show-recording">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-4 d-flex flex-column align-items-center">
      <h3 class="text-center">ACCESS KEY</h3>

      <div class="recording-key">
        <%= @recording.access_key %>
      </div>

      <%= link_to "✓", recording_path(@recording), class: "recording-validation text-center", id: "btn-to-pending" %>

    </div>
  </div>
</div>
