<div class="container show-recording">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-4 d-flex flex-column align-items-center">
      <h3 id="title" class="text-center">ACCESS KEY</h3>

      <div id="access_key" class="recording-key">
        <%= @recording.access_key %>
      </div>

      <button id="btn-to-pending" class="recording-validation text-center">Continue towards recording<i class="fas fa-arrow-circle-right"></i></button>
      <button id="btn-start"><i class="fas fa-video"></i></i></button>
      <button id="btn-stop"><i class="far fa-stop-circle fa-3x"></i></button>
      <div class="lds-roller" style="display: none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      
      <video controls id="record-video"></video>

      <span id='recording-id' data-timestamp="" data-id='<%= @recording.id %>'></span>
      <%= form_for @recording, class: "d-none" do |f| %>
        <input type="hidden" value="" name="recording_time" id="recording-time">
      <% end %>
      <%= link_to "", dashboard_path, class: "d-none", id: "dashboard-btn" %>

    </div>
  </div>
</div>
