<div class="dashboard">
  <div class="dashboard-video">

  </div>

  <div class="dashboard-remote-control">
  
  </div>
  
  <div class="dashboard-reviews">

  </div>

  <div class="dashboard-comments">

  </div>

  <div class="dashboard-thumbnails">

  </div>
</div>
