<div class="container">
  <div class="media">
    <div class="card-content">
      <img src="https://img.youtube.com/vi/Cjs7dyzLVco/0.jpg" />
      <div class="card-content-infos">
        <div>
          <h2>A dialogue to kill the fear of public speaking | Animesh Gupta | TEDxNITCalicut</h2>
          <p >Here's a talk to bid adieu to the fear of not just public speaking, but of any cause of fear and anxiety in life.</p>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/TED_three_letter_logo.svg/2880px-TED_three_letter_logo.svg.png" class="card-content-source logo-bordered" />
      </div>
    </div>

    <div class="card-content">
      <img src="https://img.youtube.com/vi/05tp0VscN8A/0.jpg" />
      <div class="card-content-infos">
        <div>
          <h2>7 Public Speaking Tips We Can Learn From Donald Trump</h2>
          <p>Politics aside, Donald Trump’s ability to hold the attention of an audience and indeed a nation is undeniable. It’s a quality that anyone who has done public speaking, be it to a stadium or to a boardroom, would be envious of.</p>
        </div>
        <img src= "https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg" class="card-content-source logo-bordered" />
      </div>
    </div>

    <div class="card-content">
      <img src=https://miro.medium.com/max/3000/1*GmXHGAaqL5RUsVdj9JeMDA.jpeg />
      <div class="card-content-infos">
        <div>
          <h2>The best advice I can give on public speaking.</h2>
          <p>Many people have been asking me to write about this topic for a while. I’m fairly new to the whole speaking and giving talks kinda thing. But within the last two years I’ve stood on many stages around the world giving 30+ talks in more than 25 cities.</p>
        </div>
        <img src= "  https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlbb99hnSjACfmttoF6fztWvz3G4ACTGJI-ewARVfiBF0jlpcN" class="card-content-source logo-bordered" />
      </div>
    </div>

    <div class="card-content">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/ae/1b/b9/heavenly-rembrandt.jpg" />
      <div class="card-content-infos">
        <div>
          <h2>10 Tips for Improving Your Public Speaking Skills</h2>
          <p>Few are immune to the fear of public speaking. Marjorie North offers 10 tips for speakers to calm the nerves and deliverable memorable orations.</p>
        </div>
        <img src= "https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1920px-Harvard_shield_wreath.svg.png" class="card-content-source logo-bordered" />
      </div>
    </div>

    <div class="card-content">
      <img src="https://miro.medium.com/max/6000/1*eKpHJGf0Qj3L0SJ_Q9zzcA.jpeg" />
      <div class="card-content-infos">
        <div>
          <h2>3 Tips to Improve Your Public Speaking</h2>
          <p>The fear of public speaking ranks higher than the fear of dying, and it’s not hard to understand why. Public speaking removes our safety net. It forces us to step out. It opens us up to scrutiny. So, how do we overcome our fear to perform?</p>
        </div>
        <img src= "  https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlbb99hnSjACfmttoF6fztWvz3G4ACTGJI-ewARVfiBF0jlpcN" class="card-content-source logo-bordered" />
      </div>
    </div>

    <div class="card-content">
      <img src="https://img.youtube.com/vi/HAnw168huqA/0.jpg" />
      <div class="card-content-infos">
        <div>
          <h2>Think Fast, Talk Smart: Communication Techniques</h2>
          <p>Communication is critical to success in business and in life. Concerned about an upcoming interview? Anxious about speaking up during a meeting? Learn and practice techniques that will help you speak spontaneously with greater confidence and clarity.</p>
        </div>
        <img src= "https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg" class="card-content-source logo-bordered" />
      </div>
    </div>
  </div>
</div>


