<div class="container justify-content-between">
  <div class="row">
    <div class="col">
      <h1>My stats</h1>
      <div class="stats-list">

      </div>
    </div>
    <div class="col">
      <div id="chart"
           datatype1="10"
           datatype2="20"
           datatype3="30"
           datatype4="40"
           datatype5="50">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</div>



