<h1>My stats</h1>
<div id="chart"
     datatype1="10"
     datatype2="2"
     datatype3="24"
     datatype4="5"
     datatype5="17"
     width="400"
     height="400">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>


