<div class="container justify-content-between">
  <div class="row">
    <div class="col">
      <div class="stats-list">
        <div class="card-product">
          <!-- <img src="https://image.flaticon.com/icons/svg/1380/1380338.svg" /> -->
          <i class="far fa-comments"></i>
          <div class="card-product-infos">
            <h2>15</h2>
            <p>Comments received</p>
          </div>
        </div>

        <div class="card-product">
          <i class="far fa-thumbs-up"></i>
          <div class="card-product-infos">
            <h2>12</h2>
            <p>Comments given</p>
          </div>
        </div>

        <div class="card-product">
          <i class="fas fa-video"></i>
          <div class="card-product-infos">
            <h2>3</h2>
            <p>Sessions as speaker</p>
          </div>
        </div>

        <div class="card-product">
          <i class="fas fa-users"></i>
          <div class="card-product-infos">
            <h2>2</h2>
            <p>Sessions as observer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="chart"
           datatype1="10"
           datatype2="20"
           datatype3="30"
           datatype4="40"
           datatype5="50">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</div>



