.form-control {
  width: 100% !important;
  height: 200px !important;
  border-radius: 5px;
}

.final-review-btn {
  background-color: $light-green;
  color: $dark-gray;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 8px;
  height: 60px;
  width: 100%;
  &:hover {
    box-shadow: 0 0 10px $light-green !important;
  }
}
