#observer_client_key {
  width: 100% !important;
  height: 60px !important;
  border-radius: 5px;
  padding: 20px 0;
}

// #new_observer {
//   width: 100% !important;
// }

#enter-speech-password {
    width: 100%;
}
