.show-recording {
  h3 {
    margin: 30px 0;
    color: $light-green;
  }
  button {
    background-color: transparent;
    border: none;
  }
  video {
    margin-top: 20px;
  }
  .recording-key {
    padding: 10px 20px;
    border: 1px solid $light-green;
    color: $light-green;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .recording-btn {
    background-color: $light-green;
    color: $dark-gray;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }

  #btn-start, #btn-stop, #record-video, a, #final-video {
    display: none;
  }
  #btn-start, #btn-stop {
    color: $light-green;
  }
  #btn-to-pending {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-green;
    color: $dark-gray;
    border-radius: 8px;
    &:hover {
      box-shadow: 0 0 10px $light-green;
    }
  }
  #btn-to-pending i {
    font-size: 20px;
  }
}
