.show-recording {
  h3 {
    margin: 30px 0;
    color: $light-green;
  }
  .recording-key {
    padding: 10px 20px;
    border: 1px solid $light-green;
    color: $light-green;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  a {
    display: block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(77, 158, 77);
    color: $light-green;
    border-radius: 50%;
    font-size: 28px;
    color: rgb(77, 158, 77);
  }
  a:hover {
    text-decoration: none;
  }
}
