.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

#navbar {
  background-color: $light-gray;
}

.green-link {
  color: $light-green;
  text-decoration: none;
  &:hover {
  color: $dark-green;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
  }
}

.green-button {
 color: $dark-gray;
 background-color: $light-green;
 border-radius: 30px;
 text-decoration: none;
 padding: 15px;
 font-weight: bold;
 &:hover {
  background-color: $dark-green;
  text-decoration: none;
  color: $white;
 }
}
