#navbar-home {
  background: rgba(0,0,0,0);
}

.green-link-home-dashboard {
  color: $light-green;
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 20px;
  &:hover {
  color: $dark-green;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
  }
}

.green-link-home-stats {
  color: $light-green;
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 30px;
  &:hover {
  color: $dark-green;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
  }
}

.green-link-home-library {
  color: $light-green;
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin-right: 120px;
  &:hover {
  color: $dark-green;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
  }
}

.green-button-home {
  color: $dark-gray;
  background-color: rgba(199, 240, 219, 0.6);
  border-radius: 30px;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  &:hover {
   background-color: $dark-green;
   text-decoration: none;
   color: $white;
  }
 }

.navbar-button {
  color: #8bbaba;
}

 @media(max-width: 575px) {
  .navbar-avatar {
    display: none;
  }

  .navbar-hidden {
    display: none;
  }
}

@media(min-width: 575px) {
  .dropdown-new-recording {
    display: none;
  }

  .navbar-dropdown-show {
    display: none;
  }
}

