<style>.navbar{display: none}</style>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

  <%= simple_form_for @observer do |f| %>

      <%= f.input :final_review, label: false, placeholder: "What did you think about the speaker's performance?", id: "final-validation-field", class: "add-review-btn" %>

      <%= f.submit "VALIDATE", class: "final-review-btn" %>

  <% end %>
    </div>
  </div>
</div>

