<style>.navbar{display: none}</style>


<div class="grid-container">
  <div class="final-review">

        <%= simple_form_for @observer do |f| %>
          <%= f.input :final_review, label: false, placeholder: "What did you think about the speaker's performance?", class: "text-field", id: "final-validation-field" %>
          <%= f.submit "Validate feedback", class: "review-btn" %>
        <% end %>

  </div>
</div>

