<div class="container new-recording">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-4 d-flex flex-column align-items-center">
      <h3 class="text-center">ENTER SPEECH PASSWORD</h3>
      <%= @access_key %>
      <div class="recording-choice">

        <%= simple_form_for @observer do |f| %>
          <%= f.input :client_key, input_html: {value: ''} %>

          <button id="sweet-alert-btn-success" class="recording-btn">
            <%= f.submit "Join speech", class: "recording-btn", id: "submitButton" %>
          </button>

        <% end %>
      </div>

    </div>
  </div>
</div>

