// .dashboard-comments {
//   overflow: auto;
//   z-index: 2;
// }


.dashboard-comments .review {
  border: 1px solid $light-green;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: $light-gray;
  display: flex;
  // justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  animation: mymove 0.5s;
  z-index: 2;
}

// @keyframes mymove {
//   0%   {background: $dark-green; width: 200%; margin: auto}
//   100% {background: $light-gray; width: 90%; mrgin: auto}
// }


@keyframes mymove {
    0% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.0);
    }
}

.review-type {
  color: $light-green;
  font-size: 24px;
  font-weight: bold;
}

.review-timestamp {
  color: $light-green;
  font-size: 18px;
}
