// Smallest device
// @media(max-width: 425px) {
  .grid-container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }


// Define the left column containing labels
  .review-grid-labels {
    // background-color: red;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .label {
    // border: 1px solid green;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border-bottom: 0.5px solid $light-green;
  }

  .label h3 {
    font-size: 0.8em;
    font-family: "Rubik";
    color: $light-green;
    font-weight: bold;
    text-align: left;
  }

  .label i {
    font-size: 50px;
    color: $light-green;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5%;
  }


// Define middle column containing improvement areas
  .review-grid-negative {
    // background-color: green;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


// Define right column containing strengths
  .review-grid-positive {
    // background-color: blue;
    grid-column: 3 / 4;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


// In each clickable columns, define 5 rows containing the buttons
  .relative {
    // border: 1px solid red;
    flex-grow: 1;
    position: relative;
    border-bottom: 0.5px solid $light-green;
  }

// Hidden clickable buttons
  .review-btn {
    // background-color: red;
    font-size: 10px;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 5;
    position: absolute;
  }

// Visible icon below the clickable button
  .relative i {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    transform: translateX(-50%);
    // margin-left: -45px;
    z-index: 1;
    font-size: 50px;
    color: $light-green;
    background-color: rgba(199, 240, 219, 0.2);
    border-radius: 25px;
    padding: 10px 20px;
    border: 0.2px solid $light-green;
  }

// Define terminate area and button
  .terminate {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .review-validation-btn {
    background-color: $light-green;
    color: $dark-gray;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    &:hover {
      box-shadow: 0 0 10px $light-green;
      text-decoration: none;
      color: $dark-gray;
    }
  }

  .badge-count {
    position: absolute;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    top: 15%;
    right: 10px;
    font-family: Rubik;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-weight: 700;
    background-color: $dark-green;
    border-radius: 50%;
    z-index: 2;
    display: none;
    animation: popupBadge 0.2s ease;
  }

  @keyframes popupBadge {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1.0);
    }
  }

// }

// Large devices (426px and up)
// @media(min-width: 426px) {
//   .grid-container {
//     width: 60%;
//     margin: auto;
//   }

//   .reviews-grid i {
//       font-size: 100px;
//       color: $dark-green;
//       margin-bottom: 20px;
//       display: flex;
//       justify-content: center;
//   }

//   .new-review .review-btn {
//     position: relative;
//     background-color: $light-green;
//     color: $dark-gray;
//     font-weight: bold;
//     font-size: 30px;
//     border: none;
//     border-radius: 8px;
//     width: 100%;
//     height: 100px;
//   }

//   .reviews-grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 20px 60px;
//   }

//   .new-review .review-choice {
//     margin: 30px 0;
//     width: 100%;
//   }

//   .review-validation-btn {
//     background-color: $dark-green;
//     color: $dark-gray;
//     border: none;
//     border-radius: 8px;
//     width: 100%;
//     height: 100px;
//     font-weight: bold;
//     font-size: 30px;
//     margin-top: 15px;
//   }

//   .badge-count {
//       position: absolute;
//       color: white;
//       text-align: center;
//       width: 30px;
//       height: 30px;
//       top: -5px;
//       right: -13px;
//       font-family: Rubik;
//       font-size: 18px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       padding: 0;
//       font-weight: 700;
//       background-color: #6C7B95;
//       border-radius: 50%;
//       display: none;
//   }
// }

// .new-review a:hover {
//   text-decoration: none;
// }

// .relative {
//   position: relative;
// }


